<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416151661037-mlq9um22apqpgpgarb07brj3up5r6a7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416151661037-mlq9um22apqpgpgarb07brj3up5r6a7v</string>
	<key>API_KEY</key>
	<string>AIzaSyBSWI7cP4xnVT4rRB0L6e5p2gs0AjSAOCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>416151661037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.suleymankiskacproject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>suleymankiskacproject</string>
	<key>STORAGE_BUCKET</key>
	<string>suleymankiskacproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416151661037:ios:33fc652a4ed65ac0da1fe4</string>
</dict>
</plist>